@using Web.Models.CourseraEntity
<link href=@Url.Content("~/Assets/css/flags.css") rel="stylesheet" />
<link href=@Url.Content("~/Assets/css/customStyle.css") rel="stylesheet" />
<script type="text/javascript" src=@Url.Content("~/Assets/js/mainPage.js")></script>

<div class="main">
    <div id="side-nav" class="col-sm-2 hidden-xs hidden-sm hidden-print">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#lectures">My lectures</a></li>
            <li><a href="#profile">My profile</a></li>
            <li><a href="#groups">My groups</a></li>
            <li><a href="#messages">My messages</a></li>
            <li><a href="#raiting">My raiting</a></li>
            <li><a href="#resume">My resume</a></li>
        </ul>
    </div>

    <div class="mainfeed">
        <div class="row">
            <div class="col-md-4 thumbnail">
                <div class="item-video-wrap">
                    <h3>H2 Title</h3>
                    <div class="video-stop-cadr">
                        <img src="http://img.youtube.com/vi/M7lc1UVf-VE/hqdefault.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 thumbnail">
                <div class="item-video-wrap" style="padding:0;">
                    <div class="video-inner-wrap">
                        <div class="video-inner">
                            <h3>H2 Title</h3>
                            <div class="video-stop-cadr">
                                <img src="http://img.youtube.com/vi/M7lc1UVf-VE/hqdefault.jpg" alt="" />
                            </div>
                        </div>
                        <div class="video-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 thumbnail">
                <div class="item-video-wrap">
                    <h3>H2 Title</h3>
                    <div class="video-stop-cadr">
                        <img src="http://img.youtube.com/vi/M7lc1UVf-VE/hqdefault.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 thumbnail">
                <div class="item-video-wrap">
                    <h3>H2 Title</h3>
                    <div class="video-stop-cadr">
                        <img src="http://img.youtube.com/vi/M7lc1UVf-VE/hqdefault.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 thumbnail">
                <div class="item-video-wrap">
                    <h3>H2 Title</h3>
                    <div class="video-stop-cadr">
                        <img src="http://img.youtube.com/vi/M7lc1UVf-VE/hqdefault.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 thumbnail">
                <div class="item-video-wrap">
                    <h3>H2 Title</h3>
                    <div class="video-stop-cadr">
                        <img src="http://img.youtube.com/vi/M7lc1UVf-VE/hqdefault.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
                    </div>

                </div>
            </div>
            <div class="col-md-4 thumbnail">
                <div class="item-video-wrap">
                    <h3>H2 Title</h3>
                    <div class="video-stop-cadr">
                        <img src="http://img.youtube.com/vi/M7lc1UVf-VE/hqdefault.jpg" alt="" />
                    </div>
                    <div class="caption">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing...</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>